.total__container{
    display: flex;
    overflow-x: auto;
}

.total__block{
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0px 11px 48px rgba(51, 51, 51, 0.06);
    border-radius: 32px;
    padding: 0 24px;
    gap: 16px;
    flex-shrink: 0;
    
}
.total__block:not(:last-child){
    margin-right: 16px;
}
.total__image{
   height: 50%;
   right:50%;
   bottom: 50%;
    
}
.total__name{
    display: flex;
    flex-direction: column;   
    gap: 2px;
    flex: none;
    
}
.total__result{
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #1B1C57;

}
.total__review{
    
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: #68799F;
}